.listItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 90%;
}

.listItem:hover{
    cursor: pointer;
    background: RGB(81, 82, 81, 0.5);
}

.list{
    display: flex;
    flex-wrap: wrap;
}

.menuWidth {
    width: 180px;
}

.searchBar {
    width: 95%;
    height:25px;
}

.container{
    display: grid;
    grid-template-rows: 1fr 30px;
}


@media (max-width: 600px) {
    .menuWidth {
        width: 110px;
    }
}


.wordLoader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #7e9979;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 